.information-last-control {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;

  .control-title {
    color: #000;

    i {
      color: #0d8aff;
    }
  }
  .control-result {
    padding: 2px 4px;
    border-radius: 4px;

    &.result-green {
      background: #47e58e;
      color: #fff;
    }
    &.result-red {
      background: #fd3636;
      color: #fff;
    }
    &.result-grey {
      background: #878787;
      color: #fff;
    }
  }
}

.information-control-image {
  padding: 0.4em;
}
