#public-vehicle-log-book-form, #public-vehicle-log-book-form-pwa {
    input, textarea {
      background-color: #ebf0f8;
      color: #0d8aff;
      --form-element-placeholder-color: #0d8aff;
    }
}

:root {
  background: none;
}
